body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cfcdcdd9;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}

.weather-app {
    text-align: center;
    background: #08745dbb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.location-input {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    border: 1px solid #cccccc1e;
    border-radius: 5px;
}





